.header__logout {
    position: absolute;
    right: 40px;
    top: 30px;
}

.header__logout button {
    border: 1px solid rgb(200, 190, 175);
    background-color: rgb(245, 240, 235);
    color: rgb(200, 190, 175);
    padding: 5px 20px;
    font-size: 16px;
}

.admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.admin__ttl {
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    color: rgb(120, 100, 80);
}

.form {
    margin: 0 auto;
    width: 80%;
}

.search-form__item-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.search-form__item {
    width: 35%;
    display: flex;
}

.search-form__item-input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(200, 190, 175);
    border-right: none;
    color: rgb(120, 100, 80);
    background-color: rgb(245, 245, 245);
}

.search-form__button-submit {
    border: 1px solid rgb(200, 190, 175);
    border-left: none;
    width: 50px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
}

.search-form__button-submit img {
    width: 16px;
}

.search-form__item-select {
    padding: 10px 5px;
    border: 1px solid rgb(200, 190, 175);
    color: rgb(120, 100, 80);
    background-color: rgb(245, 240, 235);
}

.search-form__item-date {
    padding: 10px 5px;
    background-color: rgb(245, 240, 235);
    border: none;
    border: 1px solid rgb(200, 190, 175);;
}

.admin-table__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.admin-table__header a {
    padding: 5px 10px;
    text-decoration: none;
    background-color: rgb(245, 240, 235);
    color: rgb(120, 100, 80);
}

.paginate {
    height: 0;
    padding: 5px 10px;
}

.paginate ul {
    margin: 0;
}

.paginate li {
    display: inline-block;
    color: rgb(120, 100, 80);
}

.admin-table {
    width: 100%;
    margin-bottom: 50px;
}

.admin-table__inner {
    border: 1px solid rgb(200, 190, 175);
    width: 100%;
}

.admin-table__row__ttl {
    background-color: rgb(120, 100, 80);
    border-bottom: 1px solid rgb(200, 190, 175);
}

.admin-table__row {
    border-bottom: 1px solid rgb(200, 190, 175);
}

.admin-table__row__ttl td {
    padding: 25px;
    color: #fff;
}

.admin-table__row td {
    padding: 30px 25px;
    color: rgb(120, 100, 80);
}

.admin-table__row__ttl td:last-of-type,
.admin-table__row td:last-of-type {
    padding-left: 60px;
}

/* モーダルここから */

.modal-open a {
    padding: 5px 10px;
    border:1px solid rgb(200, 190, 175);
    color: rgb(200, 190, 175);
    text-decoration: none;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modal:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.modal:target {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
}

.modal .overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
}

.modal-wrapper {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 700px;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid rgb(120, 100, 80);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px rgb(200, 190, 175);
}

.modal-contents {
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.modal-content {
    margin: 100px 50px 0;
}

.modal-table {
    width: 100%;
    margin-bottom: 50px;
}

.modal-table__ttl {
    text-align: left;
}

.modal-table__row td {
    padding: 10px 20px;
    color: rgb(120, 100, 80);
}

.modal-table__row td input {
    border: none;
    color: rgb(120, 100, 80);
}

.modal-table__row__ttl td:last-of-type,
.modal-table__row td:last-of-type {
    padding-left: 60px;
}

.delete {
    text-align: center;
}

.delete-button {
    color: white;
    border: none;
    background-color: rgb(200, 0, 0);
    padding: 5px 10px;
}

.modal-close {
    position: absolute;
    top: 50px;
    right: 50px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid rgb(200, 190, 175);;
    border-radius: 50%;
}

/* ここまでモーダル */

.admin__reset {
    text-align: center;
}

.admin__reset button {
    width: 10%;
    padding: 10px;
    margin: auto 20px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: rgb(120, 100, 80);
    color: #fff;
    cursor: pointer;
}