.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__ttl {
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    color: rgb(120, 100, 80);
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.form__group-content {
    width: 500px;
}

.form__label-item {
    color: rgb(120, 100, 80);
}

.form__label-required {
    color: red;
}

.form__error {
    height: 10px;
    color: red;
    text-align: left;
}

.form__error_name {
    height: 10px;
    color: red;
    text-align: left;
    width: 50%;
}

.form__error-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__input-text__name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__input-text__firstName input,
.form__input-text__secondName input {
    padding: 10px 20px;
    background-color: #fafafa;
    color: rgb(120, 100, 80);
    border: none;
    border-radius: 3px;
    width: 230px;
}

.form__input-radio{
    text-align: left;
    padding-left: 20px;
}

.form__input-radio label {
    margin-right: 30px;
    color: rgb(120, 100, 80);
}

.form__input-radio input {
    margin-right: 5px;
}

.form__input-text input,
.form__input-text textarea {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #fafafa;
    color: rgb(120, 100, 80);

    appearance: none;
}

.form__input-text textarea {
    height: 140px;
    resize: none;
}

.form__input-select{
    text-align: left;
}

.form__input-select select {
    width: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #fafafa;
    color: rgb(120, 100, 80);
    opacity: 0.5;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    width: 15%;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: rgb(120, 100, 80);
    color: #fff;
    cursor: pointer;
}